  
#main.container-fluid
  
  #side.sidebar.well
    .input    
      input#newPostTitle.span3(type='text')
      button#newPost.btn.mini +
       
    table#keys.zebra-striped
  
  #content.content.well
    #newPostContent.cnt
      .row
        .span4
          input#newTags.span16
      .row
        .span14
          textarea#newContent.span16(rows="20")

