
body
  margin 10px

#side
  padding-right 0px
  border-right 0px

#content
  border-left 0px
  
input#newPostTitle
  padding 5px
  font-size 15px
  
.deletePost
  
  font-size 15px

.deletePost:hover
  color red

#newContent
  width 100%
  height 80%
